<div class="container mt-4 detailbodysite">
  <div class="card detailsite">
    <div class="card-body ">
        <h2 class="card-title">Aquí los detalles de {{placeDetails.name}}</h2>
        <a href="{{placeDetails.location}}" target="_blank" ><button class="card-link btn btn-primary" id="buttonHome" style="margin-top: 20px; margin-bottom: 20px;">Ubicación</button></a>
        <p class="card-text">{{placeDetails.description}}</p>
        <img src="{{placeDetails.placeImg}}" alt="" width="500px" class="img-fluid borderImg">
        {{#if isUserActive}}
        {{#unless isAdminActive}}
          {{#if placeInFav}}
            <form action="/user/{{placeDetails._id}}/delete" method="post">
              <button class="heart-button filled"><i class="fas fa-heart"></i>&#x2665; </button>
            </form>
          {{else}}
            <form action="/user/{{placeDetails._id}}/fav" method="post">
              <button class="heart-button"><i class="far fa-heart"></i>&#x2661; </button>
            </form>
          {{/if}}
        {{/unless}}
      {{/if}}
        {{#if isAdminActive}}
        <div  class="buttonPlaceDetails">
          <a href="/places/{{placeDetails._id}}/update"><button class="btn btn-warning">Editar</button></a>
           <form action="/places/{{placeDetails._id}}/delete" method="post"><button type="submit" class="btn btn-danger">Eliminar</button></form>  
        </div>
        {{/if}}
        </div>
    </div>
    <div  class="card mt-4 valorationclass">
      <div class="card-body">
        <form action="/comment/create/{{placeDetails._id}}" method="post">
            <h2 style="margin-top:20px;">Valoración</h2>
            <label for="valoration"></label>
           <div class="rating">
            <input type="radio" id="star5" name="valoration" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="valoration" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="valoration" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="valoration" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="valoration" value="1">
            <label for="star1"></label>
            </div>
            <textarea class="borderImg" name="description" style="margin-top:20px;" cols="60" rows="10" placeholder="Deja aqui tu reseña!"></textarea>
            <div> <button type="submit" class="btn btn-success mt-3">Publicar</button></div>
           
        </form>
        </div>
    </div>
    
    <div class="card mt-4 valoraciones">
      <div class="card-body">
        {{#each cloneAllComments}}
        <div class="row" style="border: 1px solid white; border-radius:20px">
          <div class="col-md-6" style="margin-top:25px!important">
            <h4>{{this.owner.username}}</h4>
          </div>
          <div class="col-md-6" style="margin-top:25px!important">
            <p>{{this.date}}</p>
          </div>
           <div class="col-md-12">
            <p>{{this.description}}</p>
          </div>      
          <div class="col-md-12" style="margin-bottom:25px!important; margin-top:20px">
           Valoracion:<span>{{this.valoration}}</span>   
          </div>
        </div>
           
        {{#if ../isAdminActive}} 
        <div style="margin-top: 20px;">
              <form action="/comment/delete/{{this.place._id}}/{{this._id}}" method="post"><button type="submit" class="btn btn-danger">Eliminar Comentario</button></form>
        </div>
        {{/if}} 
        {{/each}}
      </div>
  </div>
</div>
