<div class="container mt-4 detailbodysite">
  <div class="card detailsite">
    <div class="card-body ">
        <h2 class="card-title">Aqui los detalles de {{placeDetails.name}}</h2>
        <a href="{{placeDetails.location}}" target="_blank" class="card-link">Ubicacion del lugar</a>
        <p class="card-text">{{placeDetails.description}}</p>
        <img src="{{placeDetails.placeImg}}" alt="" width="200px" class="img-fluid">

        {{#if isUserActive}}
        {{#unless isAdminActive}}
          {{#if placeInFav}}
            <form action="/user/{{placeDetails._id}}/delete" method="post">
              <button class="heart-button filled"><i class="fas fa-heart"></i>&#x2665; </button>
            </form>
          {{else}}
            <form action="/user/{{placeDetails._id}}/fav" method="post">
              <button class="heart-button"><i class="far fa-heart"></i>&#x2661; </button>
            </form>
          {{/if}}
        {{/unless}}
      {{/if}}


        {{#if isAdminActive}}
        <a href="/places/{{placeDetails._id}}/update"><button class="btn btn-warning">Editar</button></a>
        <form action="/places/{{placeDetails._id}}/delete" method="post"><button type="submit" class="btn btn-danger">Eliminar</button></form>
          {{/if}}
          </div>
    </div>
    <div  class="card mt-4 valorationclass">
      <div class="card-body">
        <form action="/comment/create/{{placeDetails._id}}" method="post">
            <label for="valoration">Valoracion del lugar</label>
            
            <br>
           <div class="rating">
            <input type="radio" id="star5" name="valoration" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="valoration" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="valoration" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="valoration" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="valoration" value="1">
            <label for="star1"></label>
            </div>
            
            <br>
            <textarea name="description" id="" cols="60" rows="10" placeholder="Deja aqui tu reseña!"></textarea>
            <button type="submit" class="btn btn-success mt-3">Publicar</button>
        </form>
        </div>
    </div>
    
    <div class="card mt-4 valoraciones">
      <div class="card-body">
        {{#each cloneAllComments}}
            <h4>{{this.owner.username}}</h4>Valoracion:<span>{{this.valoration}}</span>           
            <p>{{this.description}}</p>     
            <p>{{this.date}}</p>
        {{#if ../isAdminActive}} 
                <form action="/comment/delete/{{this.place._id}}/{{this._id}}" method="post"><button type="submit" class="btn btn-danger">Eliminar Comentario</button></form>
        {{/if}} 
        {{/each}}
        </div>
    </div>
</div>
