<div>
   <h2>Aqui los detalles de {{placeDetails.name}}</h2>
   {{#each placeDetails}}
   <p>{{this.location}}</p>
   <p>{{this.description}}</p>
   <img src="{{this.placeImg}}" alt="" width="200px">
   {{/each}}

   <form action="/user/{{placeDetails._id}}/fav" method="post"><button>Favorito</button></form>

   {{#if isAdminActive}}
   <a href="/places/{{placeDetails._id}}/update"><button>Editar</button></a>
   <form action="/places/{{placeDetails._id}}/delete" method="post"><button type="submit">Eliminar</button></form>
    {{/if}}

    <div>
        <form action="/comment/create/{{placeDetails._id}}" method="post">
            <label for="valoration">Valoracion del lugar</label>
            <br>
            <br>
           <div class="rating">
            <input type="radio" id="star5" name="valoration" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="valoration" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="valoration" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="valoration" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="valoration" value="1">
            <label for="star1"></label>
            </div>
            <br>
            <br>
            <textarea name="description" id="" cols="30" rows="10" placeholder="Deja aqui tu reseña!"></textarea>
            <button type="submit">Publicar</button>
        </form>
    </div>
    <div>
        {{#each cloneAllComments}}
            <h4>{{this.owner.username}}</h4><span>Valoracion: {{this.valoration}}<i></i></span>
           
            <p>{{this.description}}</p>     
            <p>{{this.date}}</p>
        {{#if ../isAdminActive}} 
                <form action="/comment/delete/{{this.place._id}}/{{this._id}}" method="post"><button type="submit">Eliminar Comentario</button></form>
        {{/if}} 
        {{/each}}
    </div>
</div>