<div>
   <h2>Aqui los detalles de {{placeDetails.name}}</h2>
   {{#each placeDetails}}
   <p>{{this.location}}</p>
   <p>{{this.description}}</p>
   <img src="{{this.placeImg}}" alt="">
   {{/each}}

   <form action="/user/{{placeDetails._id}}/fav" method="post"><button>Favorito</button></form>

   {{#if isAdminActive}}
   <a href="/places/{{placeDetails._id}}/update"><button>Editar</button></a>
   <form action="/places/{{placeDetails._id}}/delete" method="post"><button type="submit">Eliminar</button></form>
    {{/if}}  
</div>