  <div class="profile-section" style="margin-top:150px!important; margin-bottom:150px!important;">
      <h2>Editar Usuario</h2>
    <div>
    <form action="/user/update" method="post" enctype="multipart/form-data" class="row g-3 form-regis" style="margin-top: -170px!important;">
        <div class="col-md-4">
        <label for="username" class="form-label letter-label">Nombre</label>
        <input type="text" name="username" value="{{oneUser.username}}">
        </div>
        <div class="col-md-4">
        <label for="email" class="form-label letter-label">Email</label>
        <input type="email" name="email" value="{{oneUser.email}}">
        </div>
        <div class="col-md-4">
        <label for="dateborn" class="form-label letter-label">Fecha de Nacimiento</label>
        <input type="date" name="dateborn" value="{{oneUser.dateborn}}">
        </div>
        <div class="col-md-4">
        <img class="borderImg" src="{{oneUser.profileImg}}" alt="imagen-perfil" width="100px" />
        <h4 style="margin-top:20px">Cambiar Imagen de Perfil</h4>
        </div>
        <div class="col-md-4">
        <label for="profileImg" class="form-label letter-label">Imagen de Perfil</label>
        <input type="file" name="profileImg" />
        </div>
        <div class="col-md-4" >
        <button type="submit" class="btn btn-primary form-miperfil-button">Actualizar Perfil</button>
        {{#if this.errorMessage}} 
          <p>{{this.errorMessage}}</p>
        {{/if}}
        </div>
      </form>
  </div>
</div>