<div>
  <h2>Perfil de usuario</h2>

  <h2>{{oneUser.username}}</h2>
  <img src="{{oneUser.profileImg}}" alt="imagen-perfil" width="100px" />
  <p>{{oneUser.email}}</p>
  <p>{{this.dateborn}}</p>
  <div>
    <a href="/user/update"><button>Editar Perfil</button></a>
    
    <h3>Lugares Favoritos</h3>
    {{#each oneUser.placeFav}}
      <img src="{{this.placeImg}}" width="100px">
      <li>{{this.name}}</li>
      <br />
      <form action="/user/{{this._id}}/delete" method="post"><button>Eliminar
          Fav</button></form>
      <br />
      <a href="/places/{{this._id}}/details"><button>Detalles</button></a>
      <br />
    {{/each}}
  </div>

</div>